/*Fichero CSS*/
body
{
	color: #0b32f7;
	font-size: 15px;
	background-color:#aaa;
}

table,th,td
{border: black 1px solid;
} 

fieldset
{	font-size: 20px;
	width: 1090px;
	
} 


h1
{
    color:  rgb(2,96,2);
    font-size: 20px;
}

label.etiqueta
{
	color:green;
	font-size:30px;
}

p.etiqueta
{
	color:#0f0;
}


